
.hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

input {
    background-color: rgb(243,216,87);
    border-color: rgb(243,216,87);
    width: 25px;
    height: 25px;
}

.main-cont {
    /* background-color: red; */
    width: 800px;
}

.button-container{
    display: flex;
    flex-direction: column;
}

.game-container {
    background-image: url(pokeball__free_background__by_scribblin_d2p22dg-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    border: 3px solid black;
    width: 100%;
    row-gap: 10px;
}

html {
    background-image: url('wallpaper.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    /* justify-content: center; */
}

.fetched-image {
    width: 300px;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 50px;
    height: 50px;
}

.m-c-image,
.m-v-image1,
.m-v-image2 {
    height: 13rem;
}

.user-input {
    display: flex;
    border: 3px black solid;
}

.letterBox {
    width: 20px;
}

.instructionsButton {
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    width: 150px;
}


.tcg {
    font-family: 'Pokemon Solid', sans-serif;
    /* background-image: url(); */
    background-color: clear;
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 5px;
    /* align-items: center; */
    margin-top: 10px;
    margin: 100px;
    /* flex-grow: 1; */
}

.instructionsPar {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    /* flex-grow: 1; */
    margin: 20px;
    font-family: 'Pokemon Solid', sans-serif;
    border: none;
    font-size: small;
}


.instructionsDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#popup {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    /* position: fixed;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.oak {
    display: flex;
    height: 200px
}

.hint-box, .question {
    font-family: 'Pokemon Solid', sans-serif;
    border: 3px black solid;
    background-color: rgb(243,216,87);
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
/* 
    .instructionsDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        padding: 50px;
    } */

    .tcg {
        font-family: 'Pokemon Solid', sans-serif;
        /* background-image: url(); */
        background-color: clear;
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
        row-gap: 2rem;
        padding: 5px;
        /* align-items: center; */
        margin-top: 10px;
        margin: 100px;
        /* flex-grow: 1; */
    }
}

.paragraph {
    align-self: flex-end;
    font-family: 'Pokemon Solid', sans-serif;
}

.close{
    display: flex;
    font-family: 'Pokemon Solid', sans-serif;
    /* padding: 25px; */
    margin: 15px 0 15px 0;
    align-self: center;
    text-align: center;
    
}

.dadcontainer {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px;
    margin: 25px;
    row-gap: 15px;
    /* border: 2px solid #333; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.bigcontainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.containerabc {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.sprites {
    width: 200px;
    height: 320px;
}

.intro {
    padding: 0 50px 50px 50px;
}

.charintro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
