.hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

input {
    background-color: rgb(243,216,87);
    border-color: rgb(243,216,87);
    width: 25px;
    height: 25px;
}

.main-cont {
    /* background-color: red; */
    width: 800px;
}

.button-container{
    display: flex;
    flex-direction: column;
}

.game-container {
    background-image: url(pokeball__free_background__by_scribblin_d2p22dg-fullview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-grow: 1; */
    border: 3px solid black;
    width: 100%;
    row-gap: 10px;
}

html {
    background-image: url('wallpaper.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.fetched-image {
    width: 300px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 50px;
    height: 50px;
}

.m-c-image,
.m-v-image1,
.m-v-image2 {
    height: 13rem;
}

.user-input {
    display: flex;
    border: 3px black solid;
}

.letterBox {
    width: 20px;
}

.instructionsButton {
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    width: 150px;
    margin: 20px;
}

.instructionsPar {
    font-family: 'Pokemon Solid', sans-serif;
    border: none;
    font-size: small;
    margin-top: 0;
    padding: 0 0 0 0;
}

.tcg {
    /* background-image: url(); */
    background-color: clear;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 5px;
    /* align-items: center; */
    margin-top: 10px;
    margin: 100px;
    /* flex-grow: 1; */
}

.instructionsPar {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-grow: 1;
    margin: 20px;
}


.instructionsDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px;
    width: 100%;
}

#popup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#popup.oak {
    display: flex;

}

.hint-box {
    border: 3px black solid;
    background-color: rgb(243,216,87);
    display: flex;
    flex-direction: column;
}


/* @media only screen and (max-width: 768px) {

    .instructionsDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        padding: 50px;
    }

} */

.paragraph {
    align-self: flex-end;
    font-family: 'Pokemon Solid', sans-serif;
}

.dadcontainer {
    display: flex;
    flex-direction: row;
    padding: 300px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bigcontainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.containerabc {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.sprites {
    width: 200px;
    height: 320px;
}

.intro {
    padding: 0 50px 50px 50px;
}

.charintro {
    display: flex;
    justify-content: center;
    text-align: center;
}
